<h1>List of Makeup products</h1>

<ul>
  <% @makeup_data.each do |product| %>
    <li>
      <strong><%= product["name"] %></strong><br>
      Brand: <%= product["brand"] %><br>
      Price: <%= product["price"] %> <%= product["price_sign"] %>
    </li>
  <% end %>
</ul>
