<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of Makeups</title>
</head>
<body>
  <header>
    <h1>Lista de Productos</h1>
    <a href="/">Back Home</a>
  </header>
  <main>
    <ul>
      <% @products.each do |product| %>
        <li>
          <h2><%= product.name %></h2>
          <p>Price: $<%= product.price %></p>
          <a href="<%= product_path(product) %>">Details</a>
        </li>
      <% end %>
    </ul>
  </main>
</body>
</html>
