<header>
  <h1>Welcome to MakeupApp</h1>
  <p>The best online store for makeup products. Find quality products in a wide variety of brands, categories and styles.</p>
</header>
<main>
  <p>
    For this project, the API http://makeup-api.herokuapp.com/ was used, where the display of the list of different makeups is shown, differentiating each product by brand, type, among other filters. The purpose of the page is to display the list delivered by JSON in a simpler way for the user.
  </p>
  <p>
    For this, the JSON delivered in the API was displayed in the following tables:
    Product, Brand, ProductType, Category, Tags, Color, Product_Tag, Product_Color.
    The information delivered by the API is filled in the Product table and with those it has multiple relationships with, such as Tag and Color, by a direct call through the URL. The rest of the tables are filled in through csv files.
  </p>
  <p>
    <%= image_tag 'ERD.png', alt: 'erd diagram for db' %>
  </p>
</main>